numpy>=2.0.0,<2.3.0
scipy>=1.14.0
tensorflow
gensim
ipython
tqdm
pathlib2
segeval
tensorboard_logger
# flask_wtf
# flask
nltk
pandas
# xlrd
xlsxwriter
termcolor
spacy
pathlib2
torch 
torchvision
transformers
matplotlib